.Main_chat
  .Main_chat__header
    .Main_chat__header__leftbox
      .Main_chat__header__leftbox__group_name
        test
      %ul.Main_chat__header__leftbox__member_list
        Member :
        %li.Main_chat__header__leftbox__member_list__name
          masa
    .Main_chat__header__btn
      = link_to "http://localhost:3000/groups/1/edit", class: "Main_chat__header__btn--edit" do
        Edit
  .Main_chat__content
    .Main_chat__content__box
      .Main_chat__content__box__info
        .Main_chat__content__box__info__user_name
          masa
        .Main_chat__content__box__info__timestamps
          2019/11/20(Wed) 17:43:01
      .Main_chat__content__box__message
        おはよう！
    .Main_chat__content__box
      .Main_chat__content__box__info
        .Main_chat__content__box__info__user_name
          masa
        .Main_chat__content__box__info__timestamps
          2019/11/20(Wed) 17:43:34
      .Main_chat__content__box__message
        今日は夜から雨
  .Main_chat__form
    %form.Main_chat__form__contents
      .Main_chat__form__contents__input
        %input.Main_chat__form__contents__input__text{type: "text", placeholder: "type a message"}
        %label.Main_chat__form__contents__input__image
          = icon('fas', 'image')
          %input.Main_chat__form__contents__input__image__file{type: "file"}
      %input.Main_chat__form__contents__btn{type: "submit", value: "Send"}