.Main_chat__content__box
  .Main_chat__content__box__info
    .Main_chat__content__box__info__user_name
      = message.user.name
    .Main_chat__content__box__info__timestamps
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Main_chat__content__box__message
    - if message.content.present?
      %p.Main_chat__content__box__message__content
        = message.content
    = image_tag message.image.url, class: 'Main_chat__content__box__message' if message.image.present?