.Side_bar
   .Side_bar__header
      .Side_bar__header__box
         .Side_bar__header__box__user_name
            %span<>
               masa
         .Side_bar__header__box__icons
   .Side_bar__list