* {
  box-sizing: border-box;
}

.Side_bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.Main_chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
